{
  "apiPrefix": "http://localhost:3001/api",
  "backgroundImagesPrefix": "http://localhost:3001/tutorials",
  "staticUrl": "http://localhost:8050",
  "loginUrl": "http://localhost:3001/tutorials",
  "embedOrigin": "http://localhost:3001/tutorials",
  "socialAuthURL": "http://localhost:3001/auth/",
  "emailAuthURL": "http://localhost:3001/auth/local/",
  "facebookAppId": "XXX",
  "gaTrackingCode": "XXX",
  "companyShareLink": "http://localhost:3001/tutorials",
  "welcomeLinks": {
    "createTest": "http://localhost:3001/tutorials",
    "aboutCompany": "http://localhost:3001/tutorials",
    "discoverTests": "http://localhost:3001/tutorials"
  },
  "footerLinks": {
    "twitter": "http://twitter.com",
    "facebook": "https://www.facebook.com",
    "youtube": "https://www.youtube.com/channel/UCLzTnoBTQuSSg7DUNRXlmtg/playlists",
    "supportPage": "http://localhost:3001/tutorials",
    "suggestIdea": "http://localhost:3001/tutorials",
    "aboutCompany": "http://localhost:3001/tutorials",
    "ourTeam": "http://localhost:3001/tutorials",
    "helpMe": "mailto:support@appexample.com"
  }
}