@import '../../../assets/palette.less';
@import '../../../assets/colors.less';

.Home {
  background-color: @blue-200;
  width: 100%;
  padding: 36px 8px;
}

.Home__VideoContainer {
  background-color: @grey-900;
  padding: 8px;
  margin: 0px auto;
  max-width: 592px;
}

.Home__Frame {
  width: 560px;
  margin: 0px auto;
  height: 315px;
}
